*{
  margin: 0;
  padding: 0;
}
/* settings home and settings and about style*/

ul, .navbar {
  width: 100%;
  height: 30px;
  list-style-type: none;
  background-color: #FFC521;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-top: 3px;
  font-size: 18px;
}



.contain #startbtn {
  width: 80px;
  height: 40px;
  cursor: pointer;
  margin-left: 150px;
  margin-top: 30px;
  background-color: #8CFF21;
}